.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:20px;
  width: 700px;
  height: 900px;
  margin: 0 auto;
}

.hide-element {
  display: none;
}

.alert-color {
  color: red;
}

.confirmation-container {
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 600px;
  border: solid white 5px;
  border-radius: 20px;
  background-color: white;
  margin-left: 500px;
}
