.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:20px;
  width: 700px;
  height: 900px;
  margin: 0 auto;
}

.hide-element {
  display: none;
}

.alert-color {
  color: red;
}
