<h1 style="margin-top:30px;">EDITING ENTRY WITH ID: {{id}}</h1>


<h1 style="margin: 0 auto;" *ngIf="status">Changes saved!</h1>

<form (ngSubmit)="onSaveChanges()">
  <div class="form-container">
      <label for="brand_name">Brand name</label>
    <input class="form-control form-control-lg" type="text" placeholder="enter brand name" aria-label=".form-control-lg example"  name="brand_name" [(ngModel)]="data.brand_name" minlength="2" maxlength="20" required>
    <label for="manufacturer">Quantity</label>
    <input class="form-control" type="number" placeholder="enter quantity" aria-label="default input example" min="10" max="50000" name="quantity" [(ngModel)]="data.quantity" required>
    <div *ngIf="(data.quantity + currentQuantity) > data.manufacturer.capacity" [class.alert-color]="(data.quantity + currentQuantity) > data.manufacturer.capacity">Quantity should not exceed warehouse capacity. Quantity in store: {{currentQuantity}} units</div>
    <label for="manufacturer">Manufacturer name</label>
    <input class="form-control" type="text" placeholder="enter manufacturer name" aria-label="default input example" name="manufacturer_name" [(ngModel)]="data.manufacturer.manufacturer" disabled>
    <label for="manufacturer-address">Manufacturer Address</label>
    <input class="form-control form-control-sm" type="text" placeholder="enter manufacturer address" aria-label=".form-control-sm example" name="manufacturer-address" [(ngModel)]="data.manufacturer.manufacturerAddress" disabled>
    <label for="capacity">Capacity In Warehouse</label>
    <input class="form-control form-control-sm" type="number" placeholder="enter capacity in warehouse" aria-label=".form-control-sm example" min="10" max="50000" name="capacity" [(ngModel)]="data.manufacturer.capacity" disabled>
    <button type="submit" name="save-changes" style="width:200px; background-color: beige" [disabled]="data.quantity > data.manufacturer.capacity">Save changes</button>
    <p><i><b>**NOTE**</b></i>If you need to edit the manufacturer of this brand, please <button type="button" name="redirect" style="width:200px; background-color: beige" (click)="goToEditManufacturerPage(data.manufacturer.id)">click here</button></p>

  </div>

  </form>
