<h1 style="margin-top:30px;">EXPLORE OUR PRODUCTS!</h1>


<div style="display: flex; justify-content: center;">
  <button type="button" class="btn active" data-bs-toggle="button" aria-pressed="true" style="background-color: #bb9ec4;; margin-top: 50px; color:white" (click)="goToHomepage()">Back to homepage</button>
  <button type="button" class="btn active" data-bs-toggle="button" aria-pressed="true" style="background-color: #bb9ec4;; margin-top: 50px; color: white;" (click)="goToCreateForm()">Add new product</button>
</div>

<div class="chocolate-container">

<div class="flex-item" *ngFor="let item of data | slice: (page-1) * pageSize : page * pageSize">
    <h1>{{item.brand_name}}</h1>
    <h5>ID: {{item.id}}</h5>
    <h5>Manufacturer: {{item.manufacturer.manufacturer}}</h5>
    <h5>quantity in store: {{item.quantity}}</h5>

    <div style="display: flex; justify-content: flex-end;">
      <span><button type="button" class="entry-buttons btn active" (click)="goToEditPage(item.id)" style="color: #4B371C">Edit entry</button></span>
      <span><button type="button" class="entry-buttons btn active" (click)="deleteEntry(item.id)" style="color: #4B371C">Delete entry</button></span>
    </div>
  </div>
</div>

<ngb-pagination
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="collectionSize">

</ngb-pagination>
