<h1 style="margin-top:30px;">EXPLORE OUR MANUFACTURERS!</h1>

<table class="table table-hover table-striped" style="margin: 200px auto; width: 100vw;">
  <thead>
    <tr>
      <th scope="col">Manufacturer</th>
      <th scope="col">Manufacturer Address</th>
      <th scope="col">Capacity in Warehouse</th>
    </tr>
  </thead>
  <tbody *ngFor="let item of data | slice: (page-1) * pageSize : page * pageSize">
    <tr>
      <th scope="row"><h5>{{item.manufacturer}}</h5></th>
      <td>{{item.manufacturerAddress}}</td>
      <td>{{item.capacity}}</td>
      <td><button type="button" class="entry-buttons btn active" style="background-color: bb9ec4; color: 4B371C" style="width:200px; background-color: beige" (click)="goToEditPage(item.manufacturer)">Edit Entry</button></td>
    </tr>
  </tbody>
</table>

<ngb-pagination
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="collectionSize"
  class="pagination">

</ngb-pagination>
